<div class="lens-selector">
  <label for="lens-select">Select Lens Type:</label>
  
  <div *ngIf="loading" class="loading">Loading lens options...</div>
  
  <div *ngIf="error" class="error-message">
    {{ error }}
    <button (click)="loadLenses()" class="retry-button">Retry</button>
  </div>
  
  <select 
    id="lens-select"
    class="form-select"
    [disabled]="loading || error"
    (change)="onLensSelect($event)"
    [value]="selectedLensId || ''"
  >
    <option value="" disabled>-- Select a lens type --</option>
    <option 
      *ngFor="let lens of lenses" 
      [value]="lens.id"
      [selected]="lens.id === selectedLensId"
    >
      {{ lens.type }} ({{ lens.price | currency:'INR' }})
    </option>
  </select>
  
  <div *ngIf="selectedLensId" class="lens-details">
    <p class="lens-description">
      {{ selectedLensDescription }}
    </p>
  </div>
</div>
